<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% static "images" as baseUrl %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Getting Started</title>
    
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap/css/bootstrap.min.css' %}">
    

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
        <a href="index.html" class="navbar-brand">
            <img  src="{% static 'images/logo.png' %}" >
        </a>

        <button class="navbar-toggler" data-bs-target="#navbarResponsive" data-bs-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="#" class="nav-link">Hello, {{user.first_name}}</a>
                </li>
                <li class="nav-item">
                    <a href="/accounts/logout" class="nav-link">Logout</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a href="/accounts/register" class="nav-link">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="/accounts/login" class="nav-link">Sign In</a>
                </li>

                {% endif %}
                
               
            </ul>
        </div>
    </nav>
    
    {% block content %}

    {% endblock %}

<script src="{% static 'styles/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'styles/bootstrap/js/jquery.js' %}"></script>
<script src="{% static 'styles/script.js' %}"></script>
</body>
</html>