<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Getting Started</title>
    
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap/css/bootstrap.min.css' %}">
    

</head>
<body>
    
    {% block content %}

    {% endblock %}

<script src="{% static 'styles/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'styles/bootstrap/js/jquery.js' %}"></script>
<script src="{% static 'styles/script.js' %}"></script>
</body>
</html>